.Herosection{
  
  width:100vw;
  height:40%;
  
  
  display: flex;
    justify-content: center;
    align-items: center;
    
    
  }
  .moonimg{
    height: 40vw;
    
  }
  .mi1{
    
    animation-name: pop;
    animation-duration: 0.5s;
    animation-timing-function: ease-in;
    
  }
  

@keyframes pop{
  from{
    transform: scale(0);
  }
  to{
    transform: scale(1);
  }
}
.hscon h1{
  position: absolute;
  color: #FFDBAF;
  font-size:5vw;
  text-shadow:-3px -13px 13px black;
  animation-name: pop1;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  
}
@keyframes pop1{
  0%{
        transform: scale(0);
        
  }
  50%{
    transform: scale(0);
  }
  100%{
    transform: scale(1);
  }
}

@media (prefers-reduced-motion: no-preference) {
    .moonimg {
      animation: App-logo-spin infinite 20s linear;
      

    }
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
.hscon{
    display: flex;
    justify-content: center;
    
    align-items: center;
  }
  
